.formulaire {
  &__form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 20px;
    background-color: rgb(236, 236, 236);
    border-top: 5px solid rgba(203, 203, 203, 0.377);
    border-bottom: 5px solid rgba(203, 203, 203, 0.169);
  }

  &__field {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
  }

  &__label {
    color: #007bff;
    font-weight: bold;
    white-space: nowrap;
  }

  &__input {
    padding: 5px;
    border: 2px solid #007bff;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    width: 22ch;
  }

  &__bouton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}
