/**
/////////////////////////////// Compsant .recherche
*/
.recherche {
  display: flex;
  align-items: center;

  &__input {
    border: 2px solid #004080;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    width: 180px;
    max-width: 100%;
    transition: border-color 0.3s ease;
    &:focus {
      border-color: #99c2ff;
      outline: none;
    }

    @media screen and (min-width: $point-rupture) {
      margin-left: 15px;
    }
  }

  @media screen and (max-width: $point-rupture) {
    margin: 1rem 0 0 0;
    justify-content: center;
  }

  &__bouton {
    margin-left: 5px;

    padding: 0.2rem 0.4rem;
    display: flex;
    border: 2px solid #004080;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: ease-in-out 200ms;
  }

  &__bouton:hover {
    border: 2px solid #99c2ff;
  }
}
